body {
    background-color: antiquewhite;
}
button {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
}
.lesson-second {
    width: 120px;
    height: 35px;
    background-color: darkcyan;
    border: 3px solid aliceblue;
    cursor: pointer;
    color: aliceblue;
    border-radius: 10%;
}